@use "base";
@use "components/tcg";

body {
  background: linear-gradient(190deg, transparent -70%, rgb(255, 255, 255) 30%),
    url("https://media.yourordinarycat.com/happy-sugar-life-satou-shio-op-hug.avif");
  background: linear-gradient(190deg, transparent -70%, var(--background) 30%),
    url("https://media.yourordinarycat.com/happy-sugar-life-satou-shio-op-hug.avif");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 1280px;
}