.tcg {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 12px;
  list-style-type: none;
  margin: 8px 0 16px 0;
  padding: 0;
}

.tcg-description {
  margin: 8px 0 0 0;
}

.tcg-caption {
  color: rgba(0, 0, 0, 0.6);
  color: var(--secondary-foreground);
  font-size: 9pt;
  margin: 4px 0 0 0;
}

@media screen and (max-width: 800px) {
  .tcg.bp-800 {
    grid-template-columns: 100%;
  }
}

@media screen and (max-width: 476px) {
  .tcg.bp-476 {
    grid-template-columns: 100%;
  }
}